repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: \.dvc$|dvc\.lock|\.local\.json$
  - id: check-added-large-files
    args: [--maxkb=10240]
  - id: check-yaml
  - id: end-of-file-fixer
    exclude: \.dvc$|dvc\.lock|\.local\.json$

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.0
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format
